main {
  height: 87vh;
  width: 99VW;
  display: flex;
  justify-content: center;
}

.landing-wrapper {
  height: 90%;
  width: 65%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(19, 60, 81, 0.85);
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center;
}

.welcome {
  margin-left: 1.8em;
  font-size: 2em;
  font-weight: 600;
}

.dreamer {
  width: 80%;
  margin-top: -4vh;
  text-align: center;
  color:#f0b72f;
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
}

.greeting-wrapper {
  color: rgba(255, 255, 255, 0.85);
  width: 90%;
  margin: 1vh 0;
  align-self: center;
}

.greeting-par{
  font-size: .75rem;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 1vh;
}

.greeting-bottom {
  font-size: .75rem;
  line-height: 1.2rem;
  text-align: center;
  margin: 2vh 0;
  font-weight: 400;
  font-size: .75rem;
}

.new-entry-btn-wrapper{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 27em) {
  .welcome {
    font-size: 1.5rem;
  }
  
  .dreamer {
    font-size: 4rem;
  }
}