.entry-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;   
}

.entry-container{
  padding: 2vw;
  width: 60%;
  height: 85%;
  min-height: fit-content;
  background-color: rgba(19, 60, 81, 0.85);
}

.entry-header{
  font-family: 'Great Vibes', cursive;
  color: #f0b72f;
  font-size: 4.5rem;
  text-align: center;
}

.entry-sub-header{
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.title-wrapper,
.date-wrapper{
  margin-bottom: 10px;
}

.descript-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.descript-input{
  height: 30vh;
}

input{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

label{
  margin-right: 10px;
  font-size: 1.25rem;;
}

input[type="date"]:hover{
  cursor: pointer;
} 

textarea,
input{
  color: black;
  font-size: 1rem;
}

.title-input{
  width: 23em;
}

.save-wrapper{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 29em) {
  .entry-container{
    overflow-y: scroll;
    width: 70%;
  }

  .entry-header{
    font-size: 2.75rem;
  }
}