header {
  height: 13vh;
  width: 100vw;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
}

nav {
  height: 100%;
  width: 20%;
  min-width: fit-content;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-link {
  white-space: nowrap;
  margin-right: 5px;
  font-size: 1.5rem;
  border-bottom: #f0b72f 1px solid;
  color: #f0b72f;
  font-weight: 600;
  text-decoration: none;
}

.nav-link.unselected {
  border-bottom: none;
  color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: 66em) {
  nav {
    width: 25%;
  }
}

@media screen and (max-width: 53em) {
  nav {
    width: 30%;
  }

  .nav-link {
    font-size: 1.25rem;
  }
}

  @media screen and (max-width: 46em) {
    nav {
      width: 40%;
    }

    .nav-link {
      font-size: 1rem;
    }
}

@media screen and (max-width: 33em) {
  nav {
    width: 60%;
  }
  .nav-link {
    font-size: .75rem;
  }
}