.filter-wrapper{
  width: 97%;
  padding: 15px 10px;
  height: fit-content;
  background-color: #f0b72f;;
}

.image-form{
  display: flex;
  align-items: center;
}

.filter-btn{
  width: fit-content;
  height: fit-content;
  margin: 0 10px;
  padding: 4px 10px;
  background-color: rgba(19, 60, 81);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  border: none;
}

.filter-btn:disabled{
  background-color: rgba(151, 150, 150, 0.75);
  cursor:default;
}

.clear-btn{
  background-color: rgba(151, 150, 150, 0);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}