.filter-container {
  display: flex;
  justify-content: center;
}

.journal-cards {
  margin: 2vh 0vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

@media screen and (max-width: 40em) {
  .journal-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 32em) {
  .journal-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}